[Unit]
After=system-configure.service
IgnoreOnIsolate=yes

[Service]
# LOC LED off, Diag red LED off, Diag green LED on
ExecStart=/bin/sh -c 'if /opt/vyatta/bin/vyatta-platform-util --am-i accton.as5916-54xks; then /usr/bin/ipmitool raw 0x34 0x1b 0 0 1; fi'
# LOC LED off, Diag red LED off, Diag green LED off
ExecStop=/bin/sh -c 'if /opt/vyatta/bin/vyatta-platform-util --am-i accton.as5916-54xks; then /usr/bin/ipmitool raw 0x34 0x1b 0 0 0; fi'
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
